<div class="container pageContainer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="alert alert-info" style="word-wrap: break-word;">
          <strong>You Are!</strong>
          <p *ngIf="authToken">Your authToken : Is Present.</p>
          <p>Your Name : {{userName}}</p>
          <p>Your userId : {{userId}}</p>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
  
  <div class='container'>
     <!-- all user div start -->
     <div class="col-md-3"></div>
     <div class="col-md-6 col-xs-12">
        <div class="panel panel-default panel-info">
          <div class="panel-heading"><h4>Users</h4></div>
          <div class="panel-body">
            <div *ngIf="allUserList">
              <div *ngFor="let user of allUserList">
                <div class="container-fluid">
                  <div class="row bg-info" style="margin:5px;padding:5px;">
                    <div class="col-md-8 col-xs-8">
                      <h4 class="text-primary">{{user.firstName}} {{user.lastName}}
                      </h4>
                      <h5 class="text-info"> {{user.userId}}</h5>
                    </div>
                    <div class="col-md-4 col-xs-4" *ngIf="user.userId != userId">
                      <button class=" btn btn-default btn-block" (click)="goToUserCalendar(user)">
                        <i class="fa  fa-calendar  fa-2x"></i>
                      </button>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
      <!-- end all user div start -->
  </div>