<div class="container" style="margin-top : 20px;margin-bottom:20px;">
  <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
            Previous
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate">
            Today
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4" *ngIf="isAdminMode">
        <button class="btn btn-primary" (click) = 'redirectToAddMeeting()'> Add Meeting</button>
        <button class="btn btn-info" (click) = 'redirectToUserList()'> User List</button>
      </div>
  </div> 

<mwl-calendar-month-view 
[viewDate]="viewDate"
[events]="events"
[refresh]="refresh"
[activeDayIsOpen]="activeDayIsOpen"
(dayClicked)="dayClicked($event.day)"

>
</mwl-calendar-month-view>
</div>